.home-logo {
  width: 250px;
}

.gallery .gallery-img-container img {
  padding: 0;
}

section {
  background: #000303;
}

.gallery .overlay {
  background-color: #0000009c;
}

.bg {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.video-container,
.video-overlay {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  z-index: -1;
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  width: calc(100vh * 1.78);
  height: 100vh;
  transform: translate(-50%, -50%);
  // Add margin to remove YouTube title bar
  margin-top: -64px;
}
