@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  @apply text-lg leading-relaxed;
  background: #111;
  background-image: url("/images/placeholder-background.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.about-uppercase {
  font-family: "Bebas Neue", sans-serif;
}

.placeholder-background {
  background-image: url("/images/placeholder-background.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.video-container,
.video-overlay,
.placeholder-background {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  z-index: -1;
  @apply transition-opacity duration-1000;
}

.placeholder-attribution {
  @apply transition-opacity duration-1000;
}

.video-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  aspect-ratio: 16 / 9;
  min-width: 100vw;
  /* Compensate for margin to remove YouTube title bar and also remove YouTube logo/controls */
  height: calc(100vh + 128px);
  transform: translate(-50%, -50%);
  /* Add margin to remove YouTube title bar */
  margin-top: -64px;
}

.min-h-screen-with-nav {
  min-height: calc(100vh - 4rem);
}

.h-screen-with-nav {
  height: calc(100vh - 4rem);
}

.backdrop-blur-with-fallback {
  background-color: rgba(0, 0, 0, 0.7);
}
@supports (backdrop-filter: blur()) {
  .backdrop-blur-with-fallback {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
  }
}

@media (min-width: 768px) {
  .lineup-image-greyscale {
    mix-blend-mode: screen;
    -webkit-filter: grayscale(100%) contrast(100%);
    filter: grayscale(100%) contrast(100%);
  }

  .lineup-card:hover .lineup-image-greyscale {
    -webkit-filter: grayscale(0%) contrast(110%);
    filter: grayscale(0%) contrast(110%);
  }
}

a {
  @apply font-mono font-normal text-primary-200 underline px-1;
}

p,
ul,
ol,
blockquote {
  @apply pt-4 text-base md:text-lg font-normal lg:text-xl text-gray-100;
}

h1 {
  @apply text-primary-500 pb-8 text-5xl md:text-6xl font-extrabold leading-none tracking-tight font-mono;
}

h2 {
  @apply text-primary-400 pt-16 text-2xl md:text-3xl font-bold leading-none tracking-tight font-mono;
}

ul {
  @apply space-y-1 text-gray-100 list-disc list-inside;
}

ul + p {
  @apply pt-8;
}
