@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background: #111;
  background-image: url("/images/placeholder-background.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.about-uppercase {
  font-family: "Bebas Neue", sans-serif;
}

.placeholder-background {
  background-image: url("/images/placeholder-background.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.video-container,
.video-overlay,
.placeholder-background {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  z-index: -1;
  @apply transition-opacity duration-1000;
}

.placeholder-attribution {
  @apply transition-opacity duration-1000;
}

.video-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  aspect-ratio: 16 / 9;
  min-width: 100vw;
  /* Compensate for margin to remove YouTube title bar and also remove YouTube logo/controls */
  height: calc(100vh + 128px);
  transform: translate(-50%, -50%);
  /* Add margin to remove YouTube title bar */
  margin-top: -64px;
}

.min-h-screen-with-nav {
  min-height: calc(100vh - 4rem);
}

.h-screen-with-nav {
  height: calc(100vh - 4rem);
}
